# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build
dist/
build/
.cache/
out/

# Vite
vite.config.ts.timestamp-*
vite.config.ts.*.temp

# TypeScript
*.tsbuildinfo

# Logs
*.log
logs/
*.pid
*.seed
*.pid.lock

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Env files (ne pas versionner les secrets)
.env
.env.local
.env.*.local
