html, body {
  margin: 0;       /* supprime les marges par défaut */
  padding: 0;
  height: 100%;    /* important pour que body prenne toute la hauteur de html */
}

.full-page {
  height: 100vh;   /* 100% de la hauteur de la fenêtre */
  background-color: lightblue;
}


.employes-page {
  background: white;
  padding: 20px;
  font-family: sans-serif;
  min-height: 100vh;
}

.title{
    display: flex;
    color: white;
    justify-content: space-between;
}

.title h2 {
  margin: 0;
}

.content{
    background-color: #AB1E24;
    border-radius: 15px;
    padding:2%;
}

.add-btn {
  background-color: white;
  color: #b22222;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-btn:hover {
  background-color: #eee;
}

.employes-grid {
    margin: 2%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.employe-card {
  background-color: #E4AFB0;
  border-radius: 15px;
  padding: 15px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 20px;
}

.employe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.employe-name {
  font-size: 1.1rem;
}

.delete-btn {
  background: transparent;
  border: none;
  color: darkred;
  cursor: pointer;
  font-size: 1.2rem;
}

.delete-btn:hover {
  color: red;
}

select{
  margin-top: 2%;
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.employe-name-input{
  width: 30%;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.validate-btn {
  margin-top: 20px;
  background-color: white;
  color: #b22222;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.validate-btn:hover {
  background-color: #eee;
}